.App {
  text-align: center;
  overflow: hidden;
}

.techImg {
  max-height: 700px;
  max-width: 700px;
}

.AppHeader {
  background-color: #000000;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* @media (prefers-reduced-motion: no-preference) {
  .techImg {
    animation: techImg-spin 10s linear;
  }
}

@keyframes techImg-spin {
  from {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  20% {
    transform: rotate(270deg);
  }
  30% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(200deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(290deg);
  }
  80% {
    transform: rotate(60deg);
  }
  90% {
    transform: rotate(340deg);
  }
} */

.button {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  outline: none;
  height: 100px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  box-shadow: 3px 3px 30px #094fa2, -3px -3px 30px #094fa2;
  transition: 0.3s;
}

.button:hover {
  outline: none;
  background: #ff000000;
  box-shadow: 3px 3px 30px #376c54, -3px -3px 30px #376c54;
  /* box-shadow: 3px 3px 30px #c8ded5, -3px -3px 30px #c8ded5; */
}

.button:active {
  outline: none;
  background: #ff000000;
  /* box-shadow: 3px 3px 30px #295664, -3px -3px 30px #295664; */
  box-shadow: 3px 3px 30px #c8ded5, -3px -3px 30px #c8ded5;
  transition: 0.1s;
}

.button:focus {
  outline: 0 !important;
}
