.introWrapper {
  position: absolute;
}

#BGWrapper {
  background: #0a182e;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* min-width: 100vw; */
  width: 98.93vw;
}

#BGContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  z-index: 100;
  width: 620px;
  border-radius: 6px;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.code {
  font-weight: 800;
  color: white;
  -webkit-text-stroke: 2px black;
  z-index: 100;
}
