.heroWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  background-color: #0a192f;
  z-index: 1000;
}

.heroContainer {
  min-height: auto;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 13px 13px 18px #040d1b, -13px -13px 15px #122746,
  inset 13px 13px 18px #040d1b, inset -13px -13px 19px #122746;
}

.heroRow {
  min-height: auto;
}

.heroCol {
  min-height: auto;
  padding-left: 150px;
}

.hi {
  color: #5ce9ca;
}

.name {
  color: #ffffff;
  font-size: clamp(40px, 8vw, 70px);
}

.statement {
  color: #8892b0;
  font-size: clamp(40px, 8vw, 70px);
}

.exert {
  color: #ffffff;
  margin-top: 20px;
  width: 50%;
}
