.deezWrapper {
  background-color: #0a192f;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.deezContainer {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 50px;
  border-radius: 20px;
  background: #0a192f;
  box-shadow: 30px 30px 82px #040d1b, -30px -30px 59px #122746;
}

.deezRow {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 50px;
  padding: 50px;
  border-radius: 20px;
  background: #0a192f;
  box-shadow: 30px 30px 82px #040d1b, -30px -30px 59px #122746;
}

.deezCol {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 50px;
  border-radius: 20px;
  background: #0a192f;
  box-shadow: 30px 30px 82px #040d1b, -30px -30px 59px #122746;
}
