.aboutWrapper {
  /* margin-top: 1000px; */
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.aboutContainer {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.aboutRow {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.aboutCol {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}
