.contactWrapper {
  /* margin-top: 1000px; */
  /* min-height might need to change */
  height: 70vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}

.contactContainer {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contactRow {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.contactCol {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}
