.navbarWrapper {
  position: sticky;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  background: #0a192f;
  z-index: 1001;
}

.navbarContainer {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.navbarRow {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.navbarCol {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}
