.bodyWrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerWrapper {
  display: flex;
  /* min-height might need to change */
  min-height: 30vh;
  background: #0a192f;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../../img/wave.png");
  background-size: 1000px 100px;
}

#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

.social_icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.li {
  list-style: none;
}

.href {
  font-size: 2em;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.href:hover {
  transform: translateY(-8px);
}
